{% extends 'new_main.html' %}
{% load static %}

{% block content %} 
    <section class="contact-container">
        <div class="contact-hero">
            <h1>Contact Us.</h1>
        </div>
        <div class="contact-headings">
            <span>Get in Touch</span>
            <h4>Plan Your Meals at R-Foods.</h4>
            <div class="contact-icons">
                <div>
                    <img src="{% static 'images/location.png' %}" alt="Location Icon" width="30">
                    <p>Our Location</p>
                    <span>No 1, Something street, somewhere, Nigeria.</span>
                </div>
                <div>
                    <img src="{% static 'images/mail.png' %}" alt="Mail Icon" width="30">
                    <p>Our Email</p>
                    <span>R-foods@gmail.com</span>
                </div>
                <div>
                    <img src="{% static 'images/phone.png' %}" alt="Phone Icon" width="30">
                    <p>Our Phone</p>
                    <span>080-111-222-33</span> <br>
                    <span>080-111-222-33</span>
                </div>
                <div>
                    <img src="{% static 'images/clock.png' %}" alt="Clock Icon" width="30">
                    <p>Open Hours</p>
                    <span>W - Mon - Sat</span> <br>
                    <span>09:00am - 22:00pm</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="geo-location">
            <div class="geo-form">
                <form method="POST" action="{% url 'feedback' %}">
                    {% csrf_token %}
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="first_name" placeholder="Your name.." required>
    
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="last_name" placeholder="Your last name.." required>
    
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Your Email.." required>
    
                    <label for="subject">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px" required></textarea>
    
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31676.94106134712!2d3.4093704!3d6.4253751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf507c53aa3e5%3A0xfaf7e7caa2f58b89!2sSky%20Restaurant%20%26%20Lounge!5e0!3m2!1sen!2sng!4v1622204144247!5m2!1sen!2sng" frameborder="0" loading="lazy" referrerpolicy="no-referrer-when-downgrade" height="600" width="500"></iframe>
            </div>
        </div>
        <div class="img-gallery">
            <h4>Follow us on top social media platforms <span>&#8212;</span> @R-foods_official.</h4>
            <div class="gallery">
                <img src="{% static 'images/res1.jpg' %}" alt="Food 1">
                <img src="{% static 'images/res3.jpg' %}" alt="Food 2">
                <img src="{% static 'images/res2.jpg' %}" alt="Food 3">
                <!-- Add more images as needed -->
            </div> 
        </div>
    </section>
{% endblock %}
