{% extends 'new_main.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-center" style="color: orange">Update Your Profile</h1>
    <form method="POST" enctype="multipart/form-data" class="profile-form bg-white p-4 shadow rounded">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4" style="color: #6d4c41;">Profile Info</legend>
            
            {{ form.as_p }}

        </fieldset>
        <button type="submit" class="btn btn-save-changes">Save Changes</button>
    </form>
</div>

{% endblock %}
