<!-- thanks.html -->
{% extends 'new_main.html' %}
{% load static %}

{% block content %}
<section class="content-container">
    <h2>Thank You for Your Feedback!</h2>
    <p>We appreciate your time in reaching out to us.</p>
</section>
    <style>
        h2 {
            color: #333;
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
            color: #666;
        }
       
    </style>
{% endblock %}

{% block scripts %}
    {% url 'home' as home_url %}  <!-- Create a variable for the URL -->
    <script>
        // Automatically redirect after 10 seconds
        setTimeout(function() {
            window.location.href = "{{ home_url }}";  <!-- Use the variable here -->
        }, 10000); 
    </script>
{% endblock %}