{% load static %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer-contact">
                    <h4>Contact Us</h4>
                </div>
                <div>
                    <img src="{% static 'images/location.png' %}" alt="">
                    <h5>No 1,Something street, somewhere, Nigeria</h5>
                </div>
                <div>
                    <img src="{% static 'images/phonepng' %}" alt="">
                    <h5>Call: 080-111-222-33</h5>
                </div>
                <div>
                    <img src="{% static 'images/mail.png' %}" alt="">
                    <h5>R-foods@gmail.com</h5>
                </div>
            </div>
        </div>
    </div>
</footer>