{% load static %}

<div class="hero_area">
    <div class="bg-box">
        <img src="{% static 'images/hero-bg.jpg' %}" alt="">
    </div>
    <!-- header section starts -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="index.html">
                    <span>Feane</span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="menu.html">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>
                    <div class="user_option">
                        {% if user.is_authenticated %}
                        <a href="#" class="user_link">
                            <i class="fa fa-user" aria-hidden="true"></i> Welcome, {{ user.username }}
                        </a>
                            <div class="profile-dropdown" style="cursor:pointer;">
                                <img onclick="userDropDown()" class="profile-dropbtn" src="{% static 'images/Avatar.png' %}" alt="Avatar image" width="25">
                                <div id="myDropdown" class="profile-dropdown-content">
                                    <a href="{% url 'profile' %}">Profile</a>
                                    <a href="">Orders</a>
                                    <a href="#contact">Contact</a>
                                </div>
                            </div>
                            <a class="cart_link" href="#">
                                <!-- Cart Icon SVG here -->
                            </a>
                            <a href="{% url 'logout' %}" class="order_online">Logout</a>
                            <a href="{% url 'view_cart' %}" class="cart-link">
                                <img src="{% static 'images/cart.png'%}" alt="" width="25">
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}" class="order_online">Login</a>
                            <a href="{% url 'register' %}" class="order_online">Sign Up</a>
                        {% endif %}
                        <form class="form-inline">
                            <button class="btn my-2 my-sm-0 nav_search-btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->

    <!-- slider section -->
    <section class="slider_section">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel" data-interval="3000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-lg-6">
                                <div class="detail-box">
                                    <h1>R-Foods Restaurant</h1>
                                    <p>Discover the taste adventure at R-foods! Dive into our world of juicy burgers, golden fries, and milkshakes that sing with flavor, all made from the finest ingredients.</p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-lg-6">
                                <div class="detail-box">
                                    <h1>Contact us</h1>
                                    <p>Connect with R-foods for queries or comments. Email us at r-foods@gmail.com or dial (123) 456-7890. Your input and satisfaction are our top priorities.</p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-lg-6">
                                <div class="detail-box">
                                    <h1>Hotel Partnerships</h1>
                                    <p>R-foods partners with premier hotels to enhance your stay. Savor our meals, then relax in luxury. Inquire within for exclusive hotel booking deals post-dining.</p>
                                    <div class="btn-box">
                                        <a href="" class="btn1">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <ol class="carousel-indicators">
                    <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#customCarousel1" data-slide-to="1"></li>
                    <li data-target="#customCarousel1" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>

<script>
    function userDropDown() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

      // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.profile-dropbtn')) {
            var dropdowns = document.getElementsByClassName("profile-dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
        }
    }
</script>